@import 'base/variables';

.container{
    position: relative;
    width: 80%;
    margin: 0 auto;
}

.btn{
    display: block;
    border-radius: 26px;
    background-color: rgb(240, 62, 225);
    padding: 8px 30px;
    font-family: Georgia;
    font-size: 17px;
    color: #292929;
    border: 2px solid $main;
}
@import 'blocks/header';
@import 'blocks/about';
@import 'blocks/pets';
@import 'blocks/carousel';
@import 'blocks/help';
@import 'blocks/donate';
@import 'blocks/footer';
@import 'blocks/block';
@import 'blocks/modal';



