.header{
    background: url(../img/header-bg.jpg) no-repeat center center/cover;
    height: 625px;
    padding: 60px 0 100px 0;
    &__top{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo-inner{
        cursor: pointer;
    }
    &__logo{
        font-family: Georgia;
        font-size: 32.5px;
        letter-spacing: 1.95px;
        color: $main;
        margin: 0;
    }
    &__subheader{
        margin: 0;
        margin-top: -3px;
        font-family: Arial;
        font-size: 13px;
        letter-spacing: 1.3px;
        color: #fff;
    }
    &__nav{
        height: 25px;
    }
    &__menu{
        list-style-type: none;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__link{
        font-family: Arial;
        font-size: 15px;
        color: #cdcdcd;
        text-decoration: none;
        margin-right: 30px;
        &:hover{
            text-decoration: none;
            color: #cdcdcd;
        }
        &_mr0{
            margin-right: 0;
        }
        
    }
    &__main{
        width: 450px;
        text-align: left;
        margin-top: 50px;
    }
    &__title{
        font-family: Georgia;
        font-size: 44px;
        font-weight: normal;
        color: #fff;
        line-height: 60px;
        margin: 0;
    }
    &__descr{
        margin: 0;
        margin-top: 45px;
        font-family: Arial;
        font-size: 15px;
        color: #cdcdcd;
    }
    &__button{
        margin-top: 45px;
        &:hover{
            opacity: 0.8;
        }
        &:active{
            opacity: 0.3;
            border: none;
            outline: none;
        &:focus{
            border: none;
            outline: none; 
            }
        }
    }
}