.pets{
    padding: 75px 0 60px 0;
    background-color: #f6f6f6;
    &__title{
        text-align: center;
        font-family: Georgia;
        font-size: 35px;
        color: $text;
    }
    &__button{
        margin: 70px auto 0;
    }
    
}