html{
    font-family: 'Ubuntu', sans-serif;
}

body{
    position: relative;
    margin: 0;
    
}

button{
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    transition: all ease 0.4s;
}

.header__row{
    align-items: center;
    justify-content: space-between;
}

.logo{
    line-height: 45px;
    font-size: 45px;
    font-weight: bold;
    text-align: left;
    color: #fff;
    transition: 0.5s all ease;
}

.link{
    text-decoration: none;
    cursor: pointer;
}

.logo:hover{
    transform: scale(1.2);
}

.logo:active{
    opacity: 0;
    transform: scale(0.5);
}

header{
    position: absolute;
    width: 100%;
    padding-top: 40px;
}

.menu{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    margin-bottom: 0;
}

.menu__link{
    font-size: 26px;
    font-weight: normal;
    text-align: left;
    color: #fff;
    display: block;
    text-decoration: none;
    transition: 0.4s all ease;
}

.menu__link:hover{
    color: #00dadc;
    opacity: 0.5;
}

.menu__link:active{
    transform: scale(0.8);
    opacity: 0.1;
}

.header__button{
    padding: 23px 42px;
    background-color: #fff;
    font-size: 17px;
    line-height: 17px;
    font-weight: bold;
    border-radius: 40px;
    color: #6426dd;
  }

  .header__button:hover{
      opacity: 0.6;
  }

  .header__button:active{
    opacity: 0;
    transform: scale(0.5);
}


  /* section.subheader */

.subheader{
    padding-top: 230px;   
    padding-bottom: 100px;
    background: url(../bg/header-bg.png) center center/contain no-repeat;
    background-size: 100% 100%;
}


.subheader__img{
    display: block;
    width: 100%;
    height: 100%;
}

.subheader__title{
    font-size: 80px;
    font-weight: bold;
    line-height: 0.9;
    text-align: left;
    color: #fff;
    margin-bottom: 0;
}

.subheader__description{
    margin-top: 28px;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.8;
    text-align: left;
    color: rgba(255, 255, 255, 0.8);
}

.btn{
    width: 270px;
    height: 68px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 40px;
    transition: ease all 0.7s;
}

.btn:hover{
    opacity: 0.5;
}

.btn:active{
    opacity: 0;
    transform: scale(0.5);

}

.subheader__button{
    margin-top: 48px;
    background-color: #00dadc;
    font-size: 18px;
    color: #171718;
}

/* section.about */
.about{
    padding: 100px 0 22px 0;
}

.about__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about__img{
    display: block;
    width: 100%;
    height: 90%;
}


.subtitle{
    font-size: 30px;
    font-weight: normal;
    letter-spacing: 6px;
    text-align: left;
    color: #6422db;
    text-transform: uppercase;
}

.title{
    margin-top: 40px;
    margin-bottom: 0;
    font-size: 60px;
    font-weight: bold;
    text-align: left;
    color: #25234d;
}


.descr{
    margin-top: 50px;
    font-size: 20px;
    font-weight: normal;
    text-align: left;
    color: rgba(37, 35, 77, 0.81);

}

.about__button{
    margin-top: 45px;
    background-color: #ffc727;
    color: #171718;
}

/* section.service */

.service{
    margin-top: 22px;  
    background: url(../bg/service-bg.png) center center/contain no-repeat;
    background-size: 100% 100%;
}

.service__button{
    margin-top: 45px;
    background-color: #ffc727;
    color: #171718;
}

.service__row{
    align-items: center;
    justify-content: space-between;
}

.service__column{
    padding-top: 115px;
}

.service__column_first{
    margin-top: 140px;
}

.service__item{
    padding: 53px 29px;
    background-color: #fff;
    box-shadow: 0 0 30px 5px rgba(110, 110, 110, 0.3);
    min-height: 400px;
    transition: all ease 0.6s;
    opacity: 0.5;
}


.service__item:hover{
    transform: scale(1.1);
    opacity: 1;
}

.service__item:first-of-type{
    margin-bottom: 40px;
}


.service__name{
    margin-top: 34px;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    color: rgba(37, 35, 77, 0.79);
}

.service__info{
    margin-top: 23px;
    font-size: 18px;
    text-align: left;
    color: rgba(37, 35, 77, 0.81);
}

/* section.review */

.review{
    margin-top: 127px;
    background: url(../bg/review-bg.png) center center/contain no-repeat;
    background-size: 100% 100%;
    padding-bottom: 155px;
    padding-top: 170px;
}

.review__subtitle{
    text-align: center;
    text-transform: uppercase;
    font-size: 26px;
    font-weight: normal;
    letter-spacing: 6px;
    color: #fff;
}

.review__title{
    text-align: center;
    margin-top: 23px;
    font-size: 60px;
    font-weight: bold;
    color: #fff;
}

.review__slider{
    margin: 84px auto 0 auto;
    text-align: center;
}

.review__opinion{
    opacity: 0.9;
    background-color: #fff;
    border-radius: 15px;
    padding: 80px 90px;
    display: none;
    box-shadow: 0 20px 5px -10px #9a76ec,
    0 35px 8px -20px #9c75f8;;
}

.review__opinion_active{
    display: block;
}

.review__text{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #6a697f;
}

.review__author{
    margin-top: 48px;
    font-size: 24px;
    font-weight: bold;
    color: #6427de;
}

.review__button{
    margin-top: 45px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border:2px solid #6a697f;
    transition: all ease 0.4s;
}

.review__button:hover{
    opacity: 0.6;
}

.review__button:active{
    opacity: 0.2;
    transform: scale(0.6);
}


.review__button:first-of-type{
    margin-right: 20px;
}

.review__arrow_right{
    transform: rotate(180deg);
}

/* section.contact */

.contact{
    margin-top: 70px;
    padding-bottom: 40px;
}

.contact__row{
    align-items: center;
}

.contact__form{
    position: relative;
    padding: 60px 40px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 30px 5px rgba(110, 110, 110, 0.3);
}

.contact__input{
    padding: 20px 15px;
    display: block;
    width: 100%;
    height: 60px;
    opacity: 0.3;
    border: solid 1px #6a697f;
    background-color: #fff;
    border-radius: 15px;
    margin-bottom: 20px;
    outline: none;
    transition: all ease 0.3s;
}

.contact__input:focus{
border-color: #6321db;
border-width: 2px; 
}

.contact__input_big{
    height: 140px;
    margin-bottom: 45px;
}

.contact__input_big::placeholder{
transform: translateY(-40px);
}

.contact__input_big:focus::placeholder{
    position: absolute;
}

.contact__submit{
    border: none;
    background-color: #ffc727;
    color: #171718;
}

/* footer */

.footer{
    background: url(../bg/footer-bg.png) center center/contain no-repeat;
    background-size: 100% 100%;
    margin-top: 60px;
    padding-bottom: 100px;
}

.footer__row{
    padding: 200px 0 100px 0;
    align-items: center;
}

.footer__media{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: rgba(66, 50, 214, 0.1);
    border-radius: 50%;
    transition: all ease 0.5s;

}

.footer__social{
    display: flex;
    justify-content: space-evenly;
}

.footer__icon{
    display: block;
    width: 15px;
    height: 15px;
}

.footer__media:hover{
    background-color: #53d3ff;
    opacity: 0.7;
}

.footer__media:active{
    opacity: 0.2;
    transform: scale(0.5);
}

.footer__credits{
    font-size: 17px;
    font-weight: normal;
    text-align: center;
    color: #f7fbff;
}
